/* 私有 */
/* 顶部 */
.nrtc-container {
  width: 100%;
  height: 100%;
}
.nrtc-container .top{
  width: 100%;
  height: 60vh;
  display: flex;
  overflow: scroll;
  background-color: #f3f3f3;
}
.nrtc-container .bottom{
  width: 100%;
  height: 40vh;
  display: flex;
}
.nrtc-container .top .block {
  flex: 1;
  /* border: 1px solid #ddd; */
  display: inline-block;
  margin: 1px;
}
.nrtc-container .top .block .block-header {
  background: #ddd;
  text-align: center;
  position: relative;
  font-size: 15px;
}
/* 底部 */
.nrtc-container .bottom .block {
  flex: 3;
  border: 1px solid #ddd;
  display: inline-block;
  margin: 1px;
  background-color: #f3f3f3;
}
.nrtc-container .bottom .block3 {
  flex: 5;
  border: 1px solid #ddd;
  display: inline-block;
  margin: 1px;
  background-color: #f3f3f3;
}
.nrtc-container .bottom .block .block-header {
  background: #ddd;
  text-align: center;
  position: relative;
  font-size: 15px;
}
#status-content {
  max-height: 20vh;
  overflow: scroll;
}
